name: CI

on:
  workflow_dispatch:

  pull_request:
    branches: [main, dev]

  push:
    branches: [main, dev]

env:
  HUSKY: 0

permissions:
  contents: read


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20]
    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{matrix.node}}
        cache: npm

    - name: Upgrade npm
      run: |
          npm install -g npm@latest
          npm -v

    - name: Install deps (root)
      working-directory: packages/react-url-query-params
      run: npm install

    - name: Run tests (unit)
      working-directory: packages/react-url-query-params
      run: npm run test:run

    - name: Run coverage (react-url-query-params)
      working-directory: packages/react-url-query-params
      run: npm run test:coverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        flags: react-url-query-params
        files: packages/react-url-query-params/coverage/lcov.info
        fail_ci_if_error: true



