name: Publish npm package (Trusted Publisher)

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: prod

    permissions:
      contents: read
      id-token: write


    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Use node.js v20.X"
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      - name: Upgrade npm
        run: |
          npm install -g npm@latest
          npm -v

      - name: "Install dependencies"
        working-directory: packages/react-url-query-params
        run: npm install

      - name: "Build library"
        working-directory: packages/react-url-query-params
        run: npm run build

      - name: "Check version matches tag"
        working-directory: packages/react-url-query-params
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          PKG_VERSION=$(node -p "require('./package.json').version")

          echo "Tag version $TAG_VERSION"
          echo "Package version $PKG_VERSION"

          if ["$TAG_VERSION" != "$PCK_VERSION"]; then
            echo "Version in package.json does not match to tag version"
            exist 1

          fi

      - name: "Publish to npm (Trusted Publishing)"
        working-directory: packages/react-url-query-params
        run: npm publish --access public



